* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Public Sans', sans-serif;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}


/* navbar qismi */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.navbar-list li {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #33323D;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.navbar-list li:hover {
    color: #5FB4A2;
}

/* header qismi */

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    flex-wrap: wrap;
}

.header-box {
    width: 500px;
    height: 460px;
}

.header-box img {
    display: flex;
    width: 100%;
}

.header-bg {
    display: flex;
    width: 100%;
    height: 1px;
    background-color: rgb(97, 92, 92);
}

.header-demo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header-demo h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D;
}

.header-demo p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin: 18px 0;
}


.header-demo button {
    padding: 8px 16px;
    background-color: transparent;
    outline: none;
    border: 1px solid #33323D;
    cursor: pointer;
}

.header-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

main h1 {
    width: 350px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D;
}

main span {

    width: 534px;
    height: 1px;
    background-color: rgb(97, 92, 92);
}

main button{
    padding: 8px 16px;
    background-color: transparent;
    outline: none;
    border: 1px solid #33323D;
    cursor: pointer;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    color: #33323D;
}

.main-section{
    margin-top: 150px;
}


/* footer qismi */
footer{
    background-color: #33323D;
    padding: 25px;
    margin-top: 150px;
}

.footer-nav{
    display: flex;
    justify-content: space-between;
}

.left-footer{
display: flex;
}

.right-footer img{
    margin-left: 15px;
}

.footer-text{
    margin-left: 50px;
}

.footer-text li{
color: #fff;
}